/.vscode
/inout_otput.py
/latihan.py
/operator_identitas.py
/operator_Keanggotaan.py
/operator_Logika.py
/operator_pembanding.py
/operator_penugasan.py
/operator_Tenary.py
/operatpr_aritmatika.py
/tipe_data.py